name: ci

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Shell Check
    steps:
      - name: Checkout
        uses: actions/checkout@main
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
