name: ci

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: ShellCheck
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: ShellCheck
        uses: ludeeus/action-shellcheck@master
